{% load static %}
<!DOCTYPE html>
<html>

<head>
   <!-- basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- mobile metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- site metas -->
   <title>About</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- bootstrap css -->
   <link rel="stylesheet" type="text/css" href="{% static 'user/css/bootstrap.min.css ' %}">
   <!-- style css -->
   <link rel="stylesheet" type="text/css" href="{% static 'user/css/style.css' %}">
   <!-- Responsive-->
   <link rel="stylesheet" href="{% static 'user/css/responsive.css' %}">
   <!-- fevicon -->
   <link rel="icon" href="{% static 'user/images/fevicon.png' %}" type="image/gif" />
   <!-- font css -->
   <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Raleway:wght@400;500;600;700;800&display=swap"
      rel="stylesheet">
   <!-- Scrollbar Custom CSS -->
   <link rel="stylesheet" href="{% static 'user/css/jquery.mCustomScrollbar.min.css' %}">
   <!-- Tweaks for older IEs-->
   <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

    <style>
        .card-container {
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            text-align: center;
            padding: 20px;
            width: 400px;
          }
        
          h2 {
            font-size: 24px;
            font-weight: bold;
            color: dark;
          }
        
          p {
            font-size: 14px;
            color: #333;
          }
        
          .form-control {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
          }
        
          .custom-button {
            background-color:#fe5b29;
            color: #fff;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 5px;
          }
        
          .custom-button:hover {
            background-color: #0f4763;
          }
    </style>

 
</head>

<body>
   <!-- header section start -->
   <div class="header_section">
      <div class="container">
         <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="index.html"><img src="{% static 'user/images/fig2.PNG' %}" style="height:130px;width:250px;border-radius:100%;"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
               aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                     <a class="nav-link" href="{% url 'home' %}">Home</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="{% url 'user_login' %}">User</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="{% url 'admin_login' %}">Admin</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="{% url 'about_us' %}">About</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="{% url 'contact_us' %}">Contact</a>
                  </li>
               </ul>
               <form class="form-inline my-2 my-lg-0">
               </form>
            </div>
         </nav>
      </div>
   </div>
   <!-- header section end -->
   <div class="call_text_main">
      <div class="container">
         <div class="call_taital">
            <div class="call_text"><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i><span
                     class="padding_left_15">Hyderabad</span></a></div>
            <div class="call_text"><a href="#"><i class="fa fa-phone" aria-hidden="true"></i><span
                     class="padding_left_15">(+91) 8555887986</span></a></div>
            <div class="call_text"><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i><span
                     class="padding_left_15">info@codebook.in</span></a></div>
         </div>
      </div>
   </div>
   <!-- about section start -->
    <div class=" align-items-center justify-content-between" style="padding-top:300px; padding-bottom:200px;">
        <div class="col-3  d-flex flex-column justify-content-start  m-auto" >
            
                    <div class="card-container">
                        <h2>Reset Password</h2>
                        <p>Please enter your email address, and we'll send you instructions on how to reset your password.</p>
                        
                        <form method="post" enctype="multipart/form-data" id="form" name="myLoginForm">
                          {% csrf_token %}
                          <input type="email" class="form-control" placeholder="Email" required>
                          <button type="submit" class="custom-button">Submit</button>
                        </form>
                    </div>
            
        </div>
    </div>

   <!-- about section end -->
   <!-- footer section start -->
   <div class="footer_section layout_padding">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="footeer_logo"><img src="{% static 'user/images/fig2.PNG' %}" style="height:130px;width:250px;border-radius:100%;"></div>
            </div>
         </div>
         <div class="footer_section_2">
            <div class="row">
               <div class="col">
                  <h4 class="footer_taital">Subscribe Now</h4>
                  <p class="footer_text">There are many variations of passages of codebook.in available,</p>
                  <div class="form-group">
                     <textarea class="update_mail" placeholder="Enter Your Email" rows="5" id="comment"
                        name="Enter Your Email"></textarea>
                     <div class="subscribe_bt"><a href="#">Subscribe</a></div>
                  </div>
               </div>
               <div class="col">
                  <h4 class="footer_taital">Information</h4>
                  <p class="lorem_text">There are many variations of passages of codebook.in available, but the majority
                  </p>
               </div>
               <div class="col">
                  <h4 class="footer_taital">Helpful Links</h4>
                  <p class="lorem_text">There are many variations of passages of codebook.in available, but the majority
                  </p>
               </div>
               <div class="col">
                  <h4 class="footer_taital">Invesments</h4>
                  <p class="lorem_text">There are many variations of passages of codebook.inavailable, but the majority
                  </p>
               </div>
               <div class="col">
                  <h4 class="footer_taital">Contact Us</h4>
                  <div class="location_text"><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i><span
                           class="padding_left_15">Hyderabad</span></a></div>
                  <div class="location_text"><a href="#"><i class="fa fa-phone" aria-hidden="true"></i><span
                           class="padding_left_15">(+91) 8555887986</span></a></div>
                  <div class="location_text"><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i><span
                           class="padding_left_15">info@codebook.in</span></a></div>
                  <div class="social_icon">
                     <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- footer section end -->
   <!-- copyright section start -->
   <div class="copyright_section">
      <div class="container">
         <div class="row">
            <div class="col-sm-12">
               <p class="copyright_text">2023 All Rights Reserved. Design by Codebook.in</p>
            </div>
         </div>
      </div>
   </div>
   <!-- copyright section end -->
   <!-- Javascript files-->
   <script src="{% static 'user/js/jquery.min.js' %}"></script>
   <script src="{% static 'user/js/popper.min.js' %}"></script>
   <script src="{% static 'user/js/bootstrap.bundle.min.js' %}"></script>
   <script src="{% static 'user/js/jquery-3.0.0.min.js' %}"></script>
   <script src="{% static 'user/js/plugin.js' %}"></script>
   <!-- sidebar -->
   <script src="{% static 'user/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
   <script src="{% static 'user/js/custom.js' %}"></script>
   <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
   {% if messages %}
 {% for message in messages %}
     {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
         <script>swal({
                 title: "Success!",
                 text: "{{message}}",
                 icon: "success",
                 button: "OK",
             });
         </script>
     
     {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
         <script>swal({
                 title: "Warning :)",
                 text: "{{message}}",
                 icon: "warning",
                 button: "OK",
             
             });
         </script>
     {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
         <script>swal({
                 title: "info :)",
                 text: "{{message}}",
                 icon: "info",
                 button: "OK",
             });
         </script>
     {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
         <script>swal({
                 title: "error :)",
                 text: "{{message}}",
                 icon: "error",
                 button: "OK",
             });
         </script>
     {% endif %}
 {% endfor %}
{% endif %}
</body>

</html>